# 2018년 3월 28일 점프투파이썬 2장
## 테스트
- 숫자형
    1. 기능1
    2. 기능2
- 문자열
- 리스트

In [3]:
print("3번째 수업")

3번째 수업

## 1절 숫자형

In [4]:
123

123

In [5]:
456

456

In [6]:
1+2

3

In [7]:
1*3

3

In [8]:
7/4

1.75

In [9]:
-7/4

-1.75

In [10]:
7//4

1

In [11]:
7%4

3

In [12]:
1-0.9

0.09999999999999998

### Lab 1
#### 수익 계산

In [22]:
revenue = 98456
cost = 45000
profit = revenue - cost
print(profit)

53456

## 2절 문자열

In [13]:
boy = "I am a boy"
boy

'I am a boy'

In [14]:
girl = 'I am a girl'
girl

'I am a girl'

In [15]:
"I'm a girl"

"I'm a girl"

In [16]:
friend = """
I am a boy
I am a girl
"""
friend

'\nI am a boy\nI am a girl\n'

In [18]:
boy + ' ' + girl

'I am a boy I am a girl'

In [19]:
boy * 3

'I am a boyI am a boyI am a boy'

In [26]:
# 문자열 인덱싱
a = "Life is too short, You need python"
a[0] + a[10] + a[30]

'Lot'

In [29]:
# 문자열 슬라이싱 a <= : < b
a[12:17]

'short'

In [30]:
a[:]

'Life is too short, You need python'

In [31]:
a[8:]

'too short, You need python'

In [32]:
a[:20]

'Life is too short, Y'

### Lab 2
#### 문자열 다루기

In [23]:
a = "i love python!"
b = "i hate python!"

In [37]:
a = "20180328Sunny"
year = a[0:4]
month = a[4:6]
day = a[6:8]
weather =a[8:]
print(year, month, day, weather)

2018 03 28 Sunny

In [39]:
print(year,'년', month, '월', day, '일', '날씨는', weather, '입니다.')

2018 년 03 월 28 일 날씨는 Sunny 입니다.

In [40]:
"year년 month월 day일 날씨는 weather 입니다."

'year년 month월 day일 날씨는 weather 입니다.'

In [41]:
"{year}년 {month}월 {day}일 날씨는 {weather} 입니다." .format(month=month, day=day, weather=weather, year=year)

'2018년 03월 28일 날씨는 Sunny 입니다.'

### 문자열 내장함수

In [52]:
#문자 개수 세기
a = "hobby"
a.count('b')

2

In [55]:
#위치 알려주기1
a.find('o')

1

In [56]:
#위치 알려주기2
a.index('b')

2

In [58]:
#문자열 삽입하기
a=", "
a.join("금은동")

'금, 은, 동'

In [59]:
#대문자로
a = "I love python"
a.upper()

'I LOVE PYTHON'

In [60]:
#소문자로
a.lower()

'i love python'

In [61]:
#외쪽 공백 지우기
a = " hi "
a.lstrip()

'hi '

In [62]:
#오른쪽 공백 지우기
a.rstrip()

' hi'

In [63]:
#양쪽 공백 지우기
a.strip()

'hi'

In [64]:
#문자열 나누기
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

## Lab 2 이어서
-변수 a를 생성하여, 문자열 "I love python!"을 할당하시오.

-변수 b를 생성하여, 문자열 "You hate python!"를 할당하시오.

In [68]:
a = "I love python!"
b = "You hate python!"
a.find('o')

3

In [69]:
b.index('o')

1

In [70]:
a.count('o')

2

In [71]:
a.upper()

'I LOVE PYTHON!'

In [72]:
b.lower()

'you hate python!'

In [76]:
a_6 = a[:7]
a_6

'I love '

In [78]:
a_6.rstrip()

'I love'

In [77]:
a_6.split()

['I', 'love']

### Lab3
#### 문자열 포매팅
- 변수 pi를 생성하고 3.141592를 할당하시오.
- 변수 sq_root를 생성하고 1.41429를 할당하시오.

In [45]:
pi = 3.141592
sq_root = 1.41429

다음의 출력을 포매팅을 사용하여 만드시오.
 - Pi is 3.141592, and square root of 2 is 1.41429

In [47]:
"Pi is {pi}, and square root of 2 is {sq_root}" .format(pi=Pi, sq_root=sq_root)

'Pi is 3.141592, and square root of 2 is 1.41429'

## 3절 리스트