# 점프투파이썬 2장 이어서
## 3절 리스트

In [1]:
print("안녕하세요.")

안녕하세요.

In [2]:
print(123)

123

### 리스트 만들기

In [4]:
# 빈 리스트
a = []
a

[]

In [5]:
b = [1,2,3]
b

[1, 2, 3]

In [6]:
c = ["Life", "is", "too", "short"]
c

['Life', 'is', 'too', 'short']

In [10]:
d = [1,2, 'Life', 'is']
d

[1, 2, 'Life', 'is']

In [11]:
e = [1, 2, ["Life", "is"]]
e

[1, 2, ['Life', 'is']]

### 리스트의 인덱싱

In [12]:
[0, 5] # 공간 상 첫째부터 다섯번째까지

[0, 5]

In [13]:
a = [1, 2, 3]
a

[1, 2, 3]

In [14]:
a[1]

2

In [15]:
a[-1]

3

In [16]:
e

[1, 2, ['Life', 'is']]

In [17]:
e[2][0]

'Life'

### 리스트의 슬라이싱

In [19]:
a =[1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [21]:
b = a[0:2]
b

[1, 2]

In [24]:
b = a[:2]
b

[1, 2]

### 리스트의 연산자

In [26]:
print(a, b)

[1, 2, 3, 4, 5] [1, 2]

In [28]:
c =a + b
c

[1, 2, 3, 4, 5, 1, 2]

In [29]:
c * 2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

### 리스트의 수정, 변경, 삭제

In [30]:
# 하나의 값 수정하기
a =[1, 2, 3]

In [32]:
a[2] = 4
a

[1, 2, 4]

In [33]:
# 연속된 범위의 값 수정
a[1:2]

[2]

In [35]:
a[1:2] = ['a', 'b', 'c']
a

[1, 'a', 'b', 'c', 'b', 'c', 4]

In [36]:
#해당 위치에 삽입
a[2] = ['a', 'b', 'c']
a

[1, 'a', ['a', 'b', 'c'], 'c', 'b', 'c', 4]

In [38]:
# 리스트 요소 삭제
a =[1, 2, 3]
del a[2]
a

[1, 2]

In [39]:
a = [1, 2, 3, 4]
del a[1:3]
a

[1, 4]

### 리스트 함수

In [40]:
# 리스트에 요소 추가
a =[1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [41]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [42]:
# 리스트 정렬하기
a =[1, 3, 4, 5, 2]
a.sort()
a

[1, 2, 3, 4, 5]

In [43]:
# 리스트 뒤집기
a =[1, 3, 4, 5, 2]
a.reverse()
a

[2, 5, 4, 3, 1]

In [45]:
# 위치 반환
a = [1, 2, 3]
a.index(3)
# 3의 위치는?

2

In [47]:
# 리스트에 요소삽입
a =[1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [48]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [49]:
# 리스트 요소 제거
a =[1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [50]:
# 리스트 요소 꺼내기
a =[1, 2, 3]
a.pop()

3

In [51]:
a

[1, 2]

In [52]:
# 요소 개수 세기
a = [1, 2, 3, 1]
a.count(1)

2

In [53]:
# 리스트 확장
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

### 튜플

In [56]:
t1 = ()
t2 = (1, )
t3 = (1, 2, 3)
t4 = ('a', 'b')
print(t1, t2, t3, t4)

() (1,) (1, 2, 3) ('a', 'b')

In [57]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

### 딕셔너리

In [58]:
dic = {'name':'전규리', 'phone':'01012341234'}
print(dic)

{'name': '전규리', 'phone': '01012341234'}

In [59]:
dic['name']

'전규리'

In [60]:
dic['phone']

'01012341234'

In [61]:
#키가 뭐뭐 있나?
dic.keys()

dict_keys(['name', 'phone'])

In [62]:
#값이 뭐뭐 있나?
dic.values()

dict_values(['전규리', '01012341234'])

### 불 자료형(bool)

In [63]:
#T / F
#True / False
3 > 1

True

In [64]:
1 > 3

False

In [65]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [66]:
if [1,2]:
    print("참")
else:
    print("거짓")

참

# 3장 제어문
## 1. if문

In [69]:
money = 1 #돈이 있다.
if money:
    print("택시를 탄다")
else:
    print("걸어 간다")

택시를 탄다

# 기본구조
if 조건문:
    수행 문장1
    수행 문장2
else:
    수행 문장A
    수행 문장B
#Tab 1번 또는 space bar 4번

In [71]:
money =2000 #내 돈
if money >= 3000:
    print("택시를 타자")
else:
    print("걸어 가자")

걸어 가자

In [73]:
money = 2000
card = 1 #카드있음
if money >= 3000 or card:
    print("택시를 타자")
else:
    print("걸어 가자")

택시를 타자

In [74]:
pocket =['paper', 'handphone', 'card']
if 'money' in pocket:
    print("택시 타자")
else:
    if card:
        print("택시 타자")
    else:
        print("걸어 가자")

택시 타자

In [75]:
#elif를 사용
if 'money' in pocket:
    print("택시 타자")
elif 'card' in pocket:
    print("택시 타자")
else:
    print("걸어 가자")

택시 타자

In [ ]:
# 구문
if <조건문>:
    수행문장1
    수행문장2
elif <조건문>:
    수행문장1
elif <조건문>:
    수행문장1
else:
    수행문장1