In [1]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [2]:
a=[1,2,3]

In [3]:
str(a[2])+"hi"

'3hi'

In [4]:
a=[1,2,3]

In [6]:
a[2]= 4
a

[1, 2, 4]

In [7]:
a[1:2] =[1,2,3]

In [8]:
a

[1, 1, 2, 3, 4]

In [9]:
a[1:3] =[]
a

[1, 3, 4]

In [10]:
del a[0]

In [11]:
a

[3, 4]

In [12]:
a=[1,2,3]
a.append(4)

In [13]:
a

[1, 2, 3, 4]

In [14]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [15]:
a= [1,4,3,2]
a.sort()

In [16]:
a

[1, 2, 3, 4]

In [17]:
a.reverse()
a

[4, 3, 2, 1]

In [19]:
a.index(2)

2

In [22]:
a.insert(0,8)
a

[8, 8, 8, 4, 3, 2, 1]

In [23]:
a.remove(8)

In [24]:
a

[8, 8, 4, 3, 2, 1]

In [25]:
a.remove(8)
a

[8, 4, 3, 2, 1]

In [26]:
a.pop()

1

In [27]:
a

[8, 4, 3, 2]

In [28]:
a.pop(2)

3

In [29]:
a

[8, 4, 2]

In [30]:
a= [1,2,2,3,4,5,6,6]

In [31]:
a.count(2)

2

In [32]:
a.extend([10,11])

In [33]:
a

[1, 2, 2, 3, 4, 5, 6, 6, 10, 11]

In [38]:
a= {1:'a'}

In [40]:
a[2] = 'b'

In [41]:
a

{1: 'a', 2: 'b'}

In [42]:
a['name'] = 'gyu'
a

{1: 'a', 2: 'b', 'name': 'gyu'}

In [43]:
del a[1]

In [44]:
a

{2: 'b', 'name': 'gyu'}

In [45]:
a['name']

'gyu'

In [46]:
a.keys()

dict_keys([2, 'name'])

In [47]:
list(a.keys())

[2, 'name']

In [48]:
a.values()

dict_values(['b', 'gyu'])

In [49]:
list(a.values())

['b', 'gyu']

In [50]:
a.items()

dict_items([(2, 'b'), ('name', 'gyu')])

In [51]:
a.clear()

In [52]:
a

{}

In [54]:
a = {'name':'gyu', 'major':'BS', 'age':'23'}
a.get('age')

'23'

In [58]:
a.get('Q', 'foo')

'foo'

In [59]:
'name' in a

True

In [60]:
'earth' in a

False

In [61]:
s1=set([1,2,3])

In [62]:
s1

{1, 2, 3}

In [70]:
s2= set("hello")
s2

{'e', 'h', 'l', 'o'}

In [74]:
s1 =set([1,2,3,4,5])
s2 =set([4,5,6,7,8,9])

In [75]:
s1 & s2

{4, 5}

In [76]:
s1.intersection(s2)

{4, 5}

In [77]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [78]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [79]:
s1 -s2

{1, 2, 3}

In [80]:
s1.difference(s2)

{1, 2, 3}

In [81]:
s1.add(10)

In [82]:
s1

{1, 2, 3, 4, 5, 10}

In [83]:
s1.update([11,12,13])

In [84]:
s1

{1, 2, 3, 4, 5, 10, 11, 12, 13}

In [85]:
s1.remove(11)
s1

{1, 2, 3, 4, 5, 10, 12, 13}

In [86]:
bool(s1)

True

In [87]:
bool('')

False

In [88]:
1==1

True

In [89]:
a =3

In [90]:
type(3)

int

In [91]:
a =3
b =3

In [92]:
a is b

True

In [94]:
import sys
sys.getrefcount(3)

687

In [95]:
a= [1,2,3]

In [96]:
del a[1]

In [97]:
a

[1, 3]

In [98]:
del(a)

In [99]:
del(b)

In [100]:
import sys
sys.getrefcount(3)

691

In [101]:
a = [1,2,3]
b = a[:]

In [102]:
a[1] =4
a

[1, 4, 3]

In [103]:
b

[1, 2, 3]

In [104]:
a=[1,2,3]
from copy import copy
b = copy(a)

In [105]:
b

[1, 2, 3]

In [106]:
a is b

False

In [108]:
money =1
if money:
    print("택시를 타고가라")
else :
    print("걸어가라")

택시를 타고가라

In [109]:
x =3
y =5
x<y

True

In [110]:
x != y

True

In [111]:
money = 3000
if money >= 5000:
    print("택시 타고가라")
else:
    print("걸어가라")

걸어가라

In [112]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    print("택시를 타고가라")
else:
    print("걸어가라")

택시를 타고가라

In [113]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    pass
else:
    print("걸어가라")

In [114]:
pocket = ['paper', 'cellphone']
card = 1
if 'money' in pocket:
    print("택시를 타고 가라")
elif card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [117]:
test_list =["one", "two", "three"]
for i in test_list:
    print(i)

one
two
three

In [118]:
a = [(1,2) , (3,4) , (5,6)]
for (first, last) in a:
    print(first+last)

3
7
11

In [120]:
marks =[90, 25, 67, 45, 80]

number =0
for mark in marks:
    number = number+1
    if mark >= 60:
        print("%d번 학생은 합격입니다." %number)
    else:
        print("%d번 학생은 불합격입니다." %number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [126]:
sum = 0
for i  in range(1,11):
    sum = sum + i
   
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [1]:
a = "i'm \t good "
print(a)

i'm 	 good