# 한양대학교 ERICA 상권 분석

## 1. 비즈니스 이해

### Background: 어떠한 문제가 존재하는지 상황에 대해 알려진 기사, 논문, 보고서 등을 인용하여 현상을 구체적으로 기술하시기 바랍니다.
- 한양대 ERICA의 경우 학교 앞 상권에 학생들이 원하는 브랜드나 시설이 많이 부족한 상황이다. 한양대 ERICA 앞 사3동 상권 분석(직접 및 간접)을 통해 부족한 종류가 어떤 것인지 알아보고 학생들을 대상으로 설문조사를 통해 필요한 브랜드 데이터를 수집한다. 각 수집한 데이터가 일치하는지 확인해보고 가장 필요한 것부터 데이터를 정리한다.
- 

### Business Objectives: 기업(혹은 본인)에게 이 현상이 어떠한 이유로 분석을 해야 하는지 추상적(함축적)으로 기술하시기 바랍니다.
- 타 학교에 비해 상권이 덜 발달되어 있는 상황에 대한 문제점 파악
- 한양대 에리카 학생들의 불편함 해소
- 앞으로 한양대 에리카의 상권이 더욱 더 발달하기 위해서, 어떠한 점들이 필요한지에 대해 분석

### Business Success Criteria: 비즈니스 관점에서 분석결과의 성공기준(정량적) 또는 유용한 결과에 대한 기준(정성적)을 설명하십시오.
- 한양대 ERICA 학생들의 필요도에 비례하여 상권 3% 이상 증가 (필요 브랜드 입점)
- 사3동의 유동인구 3% 이상 증가
- 한양대 ERICA 학생들의 상권 만족도 10% 증가

### Analysis Goals: 비즈니스 목표에 대한 의사결정 지원을 위해 실시하는 분석의 목표를 기술합니다. 
- 한양대 ERICA 교외 주변 상권(사3동 기준) 종류 분류 및 수치 분석
- 한양대 학생 대상 설문조사 ‘필요한 브랜드/가게 종류’ 파악
- 사3동 유동인구 및 인구현황 분석

## 2. 데이터의 이해
- 한양대 에리카 학생에 대한 설문조사를 실시하여 데이터를 수집함.
- [구글 설문조사 활용](https://goo.gl/forms/oES11n6Hz6cCUz6W2)
    - 구글 설문: 1회 실시 (153명)
- 데이터 전처리 : 엑셀 이용 -> 사진 또는 csv 파일로
- 소상공인 상권분석 사이트를 이용해 한양대 에리카 앞 상권 데이터 및 사3동 유동인구 및 인구현황 데이터를 수집함.
- [소상공인상권정보 시스템 데이터 이용](http://sg.sbiz.or.kr)

## 3. 데이터 준비

- 엑셀로 설문조사 결과 도출

- 소상공인 상권분석 사이트에서 필요 데이터 수집
    - 대상 학교 : 한양대 ERICA, 인하대, 아주대, 단국대, 홍익대, 건국대, 한양대 서울캠, 부산대
    - 수집 데이터 목록 : 면적/학교 재학생 수/평일 유동인구 수/주말 유동인구 수/패스트푸드점 수/드럭스토어 수/약국 수/병원 수/대중교통 수/20대 인당 평균 2017 하반기 소비액/직장인 인당 평균 2017 하반기 소비액

In [4]:
import pandas as pd
import numpy as np

In [23]:
# 한양대 erica 재학생대상 설문조사 데이터
erica_research = pd.read_excel('erica_research.xlsx',
                          encoding = 'euc-kr')
erica_research.head(10)

,타임스탬프,한양대 앞 어떠한 업종이 제일 부족하다고 느끼시나요?,당신이 가장 필요하다고 느끼는 브랜드는 무엇입니까?
0,2018-05-28 19:50:52.205,"드럭스토어 (올리브영, 롭스, 랄라블라 등등)",올리브영이요!!! 팀플 파이팅팅팅
1,2018-05-28 19:52:00.223,"약국, 병원",약국
2,2018-05-28 19:52:25.414,"패스트푸드 (맥도날드, 버거킹, 맘스터치 등등)",맘스터치
3,2018-05-28 19:52:31.109,"패스트푸드 (맥도날드, 버거킹, 맘스터치 등등)",맥도날드
4,2018-05-28 19:53:04.722,"패스트푸드 (맥도날드, 버거킹, 맘스터치 등등)",버거킹
5,2018-05-28 19:53:16.849,"소매용품점 (다이소, 미니소 등등)",다이소
6,2018-05-28 19:53:45.177,"패스트푸드 (맥도날드, 버거킹, 맘스터치 등등)",맥도날드
7,2018-05-28 19:53:57.787,"패스트푸드 (맥도날드, 버거킹, 맘스터치 등등)",맥도날드
8,2018-05-28 19:54:12.608,"패스트푸드 (맥도날드, 버거킹, 맘스터치 등등)",맘스터치
9,2018-05-28 19:55:52.224,"패스트푸드 (맥도날드, 버거킹, 맘스터치 등등)",맘스터치

##### 설문조사 단어 횟수 사진 첨부

In [24]:
# 소상공인 상권분석 사이트 데이터
erica_data = pd.read_excel('erica_data.xlsx',
                          encoding = 'euc-kr')
erica_data

,면적,학교 재학생 수,평일 유동인구 수,주말 유동인구 수,패스트푸드점 수,드럭스토어 수,약국 수,병원 수,대중교통 수,20대 인당 평균 2017 하반기 월 소비액,직장인 인당 평균 2017 하반기 월 소비액
인하대,"269,647㎡",25574,12990,4890,7,1,0,0,4,83,140.0
아주대,"231,303㎡",13685,35721,12682,8,0,6,16,7,109,186.5
단국대,"250,000㎡",16102,25703,7259,3,0,1,2,9,87,186.5
한양대 에리카,"237,864㎡",13045,21576,7116,4,0,0,0,7,87,182.5
홍익대,"296,172㎡",16756,86533,34541,24,6,6,2,9,105,179.0
건국대,"200,872㎡",22476,114164,41373,12,7,5,9,7,102,168.5
한양대 서울캠,"204,282㎡",22321,90687,28206,7,10,3,3,14,95,169.5
부산대,"210,741㎡",29406,75265,32922,9,1,1,9,15,77,161.0